<h1><%= @article.title %></h1>
<p><%= @article.content %></p>
<ul>
  <%= link_to "Edit this article", edit_article_path(@article.id) %>
  <%= link_to "Delete #{@article.title}",
            article_path(@article),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
  <%= link_to "Go back to articles", articles_path %>
</ul>
